@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}

h1 {
    margin-top: 70px;
    background-color: lightblue;
    width: 150px;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 40px 0px rgba(171,171,171,0.5);
    margin-bottom: 35px;
    font-size: 30px;
}

button {
    border: none;
    border-radius: 50px;
    padding: 15px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: lightblue;
    color: white;
    font-weight: bold;
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #00bbd1;
    box-shadow: 0px 0px 10px 0px rgba(171,171,171,0.5);
}

button:active {
    background-color: lightgray;
    box-shadow: none;
}

input {
    margin: 10px;
    outline: none;
}

p {
    margin-left: -5px;
    margin-right: 5px;
    display: inline-block;
}

td {
    width: 150px;
    padding-bottom: 5px;
    text-align: center;
}

tr {
    margin: 10px;
}

#title {
    width: 150px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 5px;
}

#toprow {
    text-decoration: underline;
}


#author {
    width: 150px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 5px;
}

#add {
    margin: 10px
}

#addbook {
    margin: 10px;
    margin-bottom: 30px;
}

#githubicon {
    opacity: 50%;
    height: 30px;
    width: 30px;
    margin-left: 30px;
    align-items: center;
    bottom: 20px;
    position: fixed;
}

#githubicon:hover {
    opacity: 100%;
    cursor: pointer;
}

#alert {
    display: list-item;
    align-items: center;
    color: red;
}

#container {
    border-radius: 20px;
    background-color: #F5F5F5;
    width: 550px;
    display: inline-block;
    box-shadow: 0px 0px 40px 0px rgba(171,171,171,0.5);
}

#wrapper {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Code  under this line adapted from: https://blog.hubspot.com/website/css-fade-in */
.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }